<!-- views/login-register.ejs -->

<%- include('./layouts/Signin.ejs') %>
<br><br><br><br><br>

<div class="container-form login hide">
    <div class="information">
        <div class="info-childs">
            <h2>Bienvenido</h2>
            <p>Para unirte a nuestra comunidad por favor Inicia Sesión con tus datos</p>
            <input type="button" value="Iniciar Sesión" id="sign-in">
        </div>
    </div>
    <div class="form-information">
        <div class="form-information-childs">
            <h2>Crear una Cuenta</h2>
            <div class="icons">
                <i class='bx bxl-google'></i>
                <i class='bx bxl-github'></i>
                <i class='bx bxl-linkedin' ></i>
            </div>
            <p>o usa tu email para registrarte</p>
<form action="/register" method="post" class="form" id="registerForm"> <!-- Añade el id "registerForm" aquí -->
                <label>
                    <i class='bx bx-user' ></i>
                    <input type="text" name="name" placeholder="Nombre Completo" required>
                </label>
                <label>
                    <i class='bx bx-envelope' ></i>
                    <input type="email" name="email" placeholder="Correo Electronico" required>
                </label>
                <label>
                    <i class='bx bx-lock-alt' ></i>
                    <input type="password" name="password" placeholder="Contraseña" required>
                </label>
                <!-- Agrega los campos que faltan -->
                <label>
                    <i class='bx bx-id-card' ></i>
                    <input type="text" name="cedula" placeholder="Cédula" required>
                </label>
                <input type="submit" value="Registrarse">
            </form>
        </div>
    </div>
</div>
<div class="container-form register">

    <div class="information">
        <div class="info-childs">
            <h2>¡¡Bienvenido nuevamente!!</h2>
            <p>Para unirte a nuestra comunidad por favor Inicia Sesión con tus datos</p>
            <input type="button" value="Registrarse" id="sign-up">
        </div>
    </div>
    <div class="form-information">
        <div class="form-information-childs">
            <h2>Iniciar Sesión</h2>
            <div class="icons">
                <i class='bx bxl-google'></i>
                <i class='bx bxl-github'></i>
                <i class='bx bxl-linkedin' ></i>
            </div>
            <p>o Iniciar Sesión con una cuenta</p>
            <form action="/login" method="post" class="form">

                <label>
                    <i class='bx bx-envelope' ></i>
                    <input type="email" name="email" placeholder="Correo Electronico">
                </label>
                <label>
                    <i class='bx bx-lock-alt' ></i>
                    <input type="password" name="password" placeholder="Contraseña">
                </label>
                <input type="submit" value="Iniciar Sesión">
            </form>
        </div>
    </div>
</div>

<%- include('./partials/errors.ejs') %>
<%- include('./layouts/FinSignin.ejs') %>